<header class="pt6 bg-photoshop vh-100 dt w-100">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      <!--<time class="f6 mb2 dib ttu tracked"><small>27 July, 2015</small></time>-->
      <h1 class="playfair-display red fw7 b kern ligatures f-headline-l measure-narrow lh-title pb4">
        <span class="bg-blur-5 bg-white-70 lh-solid pa1 pb3  bt bw3 b--red w3-animate-top">
          &nbsp;Bookshop.&nbsp;
        </span>
      </h1>
      
      <h5 class="mt4 f6 black-80 ttu tracked lh-copy w3-animate-top space-mono">
        <span class="mt3 pt2 bt bw2 bw0-s b--black-80">
          I live in app/views/store/index.html.erb
        </span>
      </h5>
    </div>
</header>
   
  
<div class="flex justify-center pt6">
  <div class="w-80-ns">
    <table class=" w3-animate-bottom w3-table w3-bordered w3-responsive pt3">
      <thead class="montserrat b ttu tracked lh-copy red w3-centered">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Cover</th>
          <th>Price</th>
        </tr>
      </thead>
    
      <tbody class="">
        <% @products.each do |product| %>
          <tr>
            <td class=""><h6 class="pt4 space-mono ttu lh-copy red"><%= product.title %></h6></td>
            <td width="50%"><p class="eb-garamond ligatures f4 lh-copy"><%= sanitize(strip_tags(product.description)) %></p></td>
            <td><%= image_tag(product.image_url) %></td>
            <td class="">
              <p class="space-mono tracked red f5 lh-copy"><%= number_to_currency(product.price) %></p>
              <hr />
              <%= button_to 'Add to Cart', line_items_path(product_id: product), class:"space-mono w3-mobile w3-button br-pill grow w3-white w3-border w3-border-red w3-hover-red" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

