<!DOCTYPE html>
<html>
  <head>
    <title>The Ruby Bookshop</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="">

    <nav class="dn-s-m z-5 dt fixed space-mono bg-white-70 bg-blur-5 dt w-100 border-box mt3 pv3 ph4-ns bt bw2 b--red shadow-4">
      <!--Left Nav Section (20%)-->
      <a href="/" class="dtc v-mid w3-hover-none link dim w-20 tr f6"><%= image_tag 'store-logotype-red.svg', 
      alt: 'Home', height: '32', style: 'display: block; margin-bottom: none; margin-top: none' %></a>
      
      <!--Right Nav Section (80%)-->
      <div class="dtc v-mid w-80 tr playfair-display tracked f6">
        <a href="/" aria-label="Store Home" class="f7-m dtc tc w3-button w3-hover-none w3-text-red w3-hover-text-light-gray">Shop Now</a>
        <a href="/static_pages/home" aria-label="Home" class="f7-m dtc tc w3-button w3-hover-none w3-text-red w3-hover-text-light-gray">Home</a>
        <a href="/static_pages/about" aria-label="About" class="f7-m dtc tc w3-button w3-hover-none w3-text-red w3-hover-text-light-gray">About</a>
        <a href="/static_pages/help" aria-label="Help" class="f7-m dtc tc w3-button w3-hover-none w3-text-red w3-hover-text-light-gray">Help</a>
        
  
        <!--Login-->
        <%= link_to 'Login', login_path, method: :post, class:"f7-m dtc tc w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        
        <!--Admin Section-->
        <% if session[:user_id] %>
        <%#<%= link_to 'Admin', admin_url, class:"f7-m dtc tc w3-bar-item w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        <%= link_to 'Orders', orders_path, class:"f7-m dtc tc w3-bar-item w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        <%= link_to 'Products', products_path, class:"f7-m dtc tc w3-bar-item w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        <%= link_to 'Users', users_path, class:"f7-m dtc tc w3-bar-item w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        <%= link_to 'Logout', logout_path, method: :delete, class:"f7-m dtc tc w3-bar-item w3-button w3-hover-none w3-text-red w3-hover-text-light-gray" %>
        <% end %>
      </div>
    </nav>
    
<!--Mobile Menu MDL-->
    <!--Top Menu-->
    <nav class="dn-l z-5 dt fixed space-mono bg-red-90 bg-blur-5 dt w-100 border-box mt0 pv3 bb bw2 b--red shadow-4">
      <a href="/" 
        class="dtc v-mid w3-hover-none link dim w-50 tr f6 f5-ns pl4">
        <%= image_tag 'store-logotype-white.svg', alt: 'Home', height: '28', style: 'display: block; margin-bottom: none; margin-top: none' %>
      </a>
    </nav>
    
    <div class="dn-l demo-layout-transparent mdl-layout mdl-js-layout">
      <div class="mdl-layout__drawer bg-blur-5 bg-white-90">
        <nav class="mdl-navigation bg-blur-5">
          <!--Login-->
          <a href="/" aria-label="Shop Now" 
            class="playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-black">Shop</a>
          <a href="/static_pages/home" aria-label="Home" 
            class="playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-black">Home</a>
          <a href="/static_pages/about" aria-label="About" 
            class="playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-black">About</a>
          <a href="/static_pages/help" aria-label="Help" 
            class="playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-black">Help</a>
          
          
          <%= link_to 'Login', login_path, method: :post, class:"playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-red" %>
          
          <!--Admin Section-->
          <% if session[:user_id] %>
          
          <%= link_to 'Orders', orders_path, class:"playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-red" %>
          <%= link_to 'Products', products_path,  class:"playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-red" %>
          <%= link_to 'Users', users_path,  class:"playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-red" %>
          <%= link_to 'Logout', logout_path, method: :delete,  class:"playfair-display fw9 f3 dtc tc grow w3-button w3-text-red w3-hover-none w3-hover-text-red"%>
        <% end %>
        </nav>
        <script>
          setInterval("upgradeMDL();", 100);
          function upgradeMDL() {
            componentHandler.upgradeDom();
            //componentHandler.upgradeDom();
            //componentHandler.upgradeAllRegistered();
          }
        </script>
      </div>
    </div>

<!--MDL Fix for dynamic sites.-->
   <main class="mdl-layout__content w-100">
      <div class="page-content">
        <%= yield %>
      </div>
   </div>    

  </body>
</html>

