<!DOCTYPE html>
<html>
  <head>
    <title>Textbook Store</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="">

    <nav class="dt space-mono bg-white-90 fixed dt w-100 border-box mt3 pv3 ph5-ns shadow-4">
      <!--Left Nav Section (25%)-->
      <a href="/" class="dtc v-mid w3-hover-none link dim w-25 tr space-mono ttu tracked f6 f5-ns"><%= image_tag 'store.svg', alt: 'Home', 
      height: '28', width: '28', style: 'display: block; margin-bottom: none; margin-top: none' %></a>
      
      <!--Right Nav Section (75%)-->
      <div class="dtc v-mid w-75 tr space-mono ttu tracked f6 f5-ns">
        <a href="/" aria-label="Store Home" class="dtc tc w3-bar-item w3-button w3-hover-white w3-hover-text-red">Store</a>
        <a href="/static_pages/about" aria-label="About" class="dtc tc w3-bar-item w3-button w3-hover-white w3-hover-text-red">About</a>
        <a href="/static_pages/help" aria-label="Help" class="dtc tc w3-bar-item w3-button w3-hover-white w3-hover-text-red">Help</a>
        <a href="/static_pages/home" aria-label="Home" class="dtc tc w3-bar-item w3-button w3-hover-white w3-hover-text-red">Home</a>
        <!--Manage Store Section-->
        <a href="/products" aria-label="Manage Products" class="w3-hover-none link dim tr space-mono ttu tracked f6 f5-ns">
        <%= image_tag 'store-admin-black.svg', alt: 'Manage Store', height: '28', width: '28' %></a>
      </div>
    </nav>

   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>
